.page {
  height: 100%;
  width: 100%;
  background-color: var(--color-eggshell);
  display: grid;
  place-items: center;
  font-size: 16px;
  font-family: var(--font-outfit);
  font-weight: normal;
  color: var(--color-wenge-brown);
  min-height: 100vh;
}

.recipe {
  margin: 5% 0;
  height: auto;
  width: 60%;
  background-color: var(--color-white);
  border-radius: 20px;
  display: grid;
  place-items: center;
}

.header-recipe {
  width: 90%;
}

.content-recipe {
  width: 90%;
}

li::marker {
  color: var(--color-nutmeg);
}

@media (max-width: 768px) {
  .page {
    height: 100%;
  }
  .recipe {
    margin: 20px 0;
    width: 80%;
  }
}
